<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<script> 
   
    function Submit(){ 
      let check = document.forms["inputForm"]["ISBN"].value;
        if(!/^((\d{3})-*){3}$/.test(check)){
            alert("Please enter a valid number");
            return false;
        }
       
       
    }
</script>
<body>
    <div class="container">
        <h1 class="text-lg-center">PUBLISHER ABZ</h1>
        <form name="inputForm" class="form" action="/" onsubmit="return Submit()"  method="post" enctype="multipart/form-data"
            style="display: flex; flex-direction: column; width: 250px; margin: auto;">
            <input class="input-group" type="text" name="tenBaiBao" placeholder="Enter News Name" required="required" />
            <input type="text" name="tenNhomTacGia" placeholder="Enter Writers Group Name" required="required" />
            <input type="text" name="ISBN" placeholder="Enter IBSN" required="required" />
            <input type="number" name="soTrang" placeholder="Enter Number of News Pages" min="0" required="required"/>
            <input type="number" id="NXB" name="NXB" placeholder="Enter the year" required="required" min="1900"
            max="<%=new Date().getFullYear()%>" />
            <input type="submit" value="Submit" />
           
        </form>
    </div>

</body>

</html>